<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.parsroyal.solutiontablet">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <uses-feature android:name="android.hardware.camera"/>
  <uses-feature
    android:name="android.hardware.location.gps"
    android:required="false"/>
  <uses-feature
    android:name="android.hardware.location.network"
    android:required="false"/>
  <uses-feature
    android:name="android.hardware.location"
    android:required="false"/>
  <uses-feature
    android:name="android.hardware.LOCATION"
    android:required="false"/>


  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name="com.parsroyal.solutiontablet.SolutionTabletApplication"
    android:supportsRtl="false"
    android:theme="@style/AppTheme"
    tools:replace="android:supportsRtl">
    <activity
      android:name="com.parsroyal.solutiontablet.ui.SplashActivity"
      android:screenOrientation="landscape"
      android:theme="@style/NoActionBar"
      android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name="com.parsroyal.solutiontablet.ui.MainActivity"
      android:screenOrientation="landscape"
      android:windowSoftInputMode="adjustPan"/>

    <service
      android:exported="false"
      android:name="com.parsroyal.solutiontablet.service.TrackLocationService" />

    <receiver android:name="com.parsroyal.solutiontablet.receiver.TrackerAlarmReceiver">
      <intent-filter>
        <action android:name="com.parsroyal.solutiontablet.TrackerAlarmReceiver"/>
      </intent-filter>
    </receiver>

    <receiver android:name="com.parsroyal.solutiontablet.receiver.BootReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

    <meta-data
      android:name="com.google.android.maps.v2.API_KEY"
      android:value="@string/google_maps_key"/>

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="bf939acb1b76ea3f52f26b54a1d8f266e5f6fea4"/>
  </application>

</manifest>